
@{
    ViewBag.Title = "Index";
}

<h3 class="text-center m-2">Tabela de Usuarios</h3>




<div class="row">
    <div class="col-12 mt-2 mb-2">
        <a href="@Url.Action("Cadastro")" class="btn btn-outline-primary float-right">
            Novo Usuario
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-borderless table-light table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Código</th>
                    <th>Login</th>
                    <th>Data de Nascimento</th>
                    <th>Contabilidade</th>
                    <th>Ação</th>

                </tr>
            </thead>

            @foreach (Model.Usuario usuario in ViewBag.Usuarios)
            {
                <tbody>
                    <tr>
                        <td>@usuario.Id</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.DataNascimento</td>
                        <td>@usuario.Contabilidade.Nome</td>
                        <td>
                            <a href="@Url.Action("Editar"), new { id = usuario.Id }" class="btn btn-outline-primary"><i class="fa fa-pen"></i> Editar</a>
                            <a href="@Url.Action("Deletar"), new { id = usuario.Id }" class="btn btn-outline-danger"><i class="fas fa-save"></i> Deletar</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>

